htmlpage.json
[{"id":"c56e71c5.6f33c","type":"tab","label":"HTML Page","disabled":false,"info":""},{"id":"59de7b9f.fd525c","type":"http in","z":"c56e71c5.6f33c","name":"","url":"/testHtml","method":"get","upload":false,"swaggerDoc":"","x":150,"y":180,"wires":[["6930c6cd.df3ba"]]},{"id":"242c135a.0e3aec","type":"http response","z":"c56e71c5.6f33c","name":"","statusCode":"","headers":{},"x":530,"y":180,"wires":[]},{"id":"ba37796a.f84c48","type":"file in","z":"c56e71c5.6f33c","name":"","filename":"/var/usr/share/page/index.html","format":"utf8","chunk":false,"sendError":false,"encoding":"none","x":370,"y":300,"wires":[[]]},{"id":"6930c6cd.df3ba","type":"template","z":"c56e71c5.6f33c","name":"webPage","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"<html>\n    <head></head>\n    <body>\n        <h1>Hello World!</h1>\n    </body>\n</html>","output":"str","x":340,"y":180,"wires":[["242c135a.0e3aec"]]},{"id":"670ea1a7.3ec658","type":"comment","z":"c56e71c5.6f33c","name":"servindo uma pagina web","info":"","x":350,"y":40,"wires":[]},{"id":"65f7bc3c.9f3bfc","type":"comment","z":"c56e71c5.6f33c","name":"usando um arquivo html","info":"","x":350,"y":240,"wires":[]},{"id":"dd8a6e10.bbe0c8","type":"comment","z":"c56e71c5.6f33c","name":"usando um template","info":"","x":330,"y":120,"wires":[]}]
