htmlpage2.json
[{"id":"29e9bce3.e9bf54","type":"http in","z":"75636c7a.a793d4","name":"","url":"/","method":"get","upload":false,"swaggerDoc":"","x":350,"y":160,"wires":[["15a40379.7c547d"]]},{"id":"d2c09de.5d86de","type":"http response","z":"75636c7a.a793d4","name":"","statusCode":"","headers":{},"x":990,"y":140,"wires":[]},{"id":"53591e69.a6d4d","type":"file in","z":"75636c7a.a793d4","name":"","filename":"","format":"utf8","chunk":false,"sendError":false,"encoding":"none","x":770,"y":280,"wires":[["d2c09de.5d86de"]]},{"id":"5377d357.e994fc","type":"comment","z":"75636c7a.a793d4","name":"lidando com os outros requests","info":"","x":450,"y":440,"wires":[]},{"id":"b460bd8e.60c7","type":"comment","z":"75636c7a.a793d4","name":"arquivo customizado","info":"","x":780,"y":220,"wires":[]},{"id":"ab60834e.a22918","type":"comment","z":"75636c7a.a793d4","name":"variavel de contexto","info":"","x":530,"y":220,"wires":[]},{"id":"b0e2011f.b9e8c","type":"http in","z":"75636c7a.a793d4","name":"","url":"/*","method":"get","upload":false,"swaggerDoc":"","x":370,"y":400,"wires":[["99462d37.4fe9f"]]},{"id":"dc1fc52b.cc118","type":"file in","z":"75636c7a.a793d4","name":"","filename":"","format":"","chunk":false,"sendError":false,"encoding":"none","x":730,"y":420,"wires":[["5e250a9a.467f44","56a57062.36356"]]},{"id":"99462d37.4fe9f","type":"function","z":"75636c7a.a793d4","name":"","func":"msg.filename = flow.get(\"www-dir\") + msg.req.url;\n\nif(msg.filename.endsWith(\".png\")){\n    msg.headers = [];\n    msg.headers[\"Content-Type\"] = \"image/png\"\n}\nreturn msg;","outputs":1,"noerr":0,"x":530,"y":400,"wires":[["dc1fc52b.cc118"]]},{"id":"56a57062.36356","type":"debug","z":"75636c7a.a793d4","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","x":910,"y":480,"wires":[]},{"id":"5e250a9a.467f44","type":"http response","z":"75636c7a.a793d4","name":"","statusCode":"","headers":{},"x":910,"y":340,"wires":[]},{"id":"15a40379.7c547d","type":"change","z":"75636c7a.a793d4","name":"","rules":[{"t":"set","p":"www-dir","pt":"flow","to":"/usr/share/html","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":500,"y":280,"wires":[["7b8655ee.6b5e9c"]]},{"id":"7b8655ee.6b5e9c","type":"function","z":"75636c7a.a793d4","name":"","func":"msg.filename = flow.get(\"www-dir\") + \"/index.html\";\n\nreturn msg;","outputs":1,"noerr":0,"x":650,"y":340,"wires":[["53591e69.a6d4d"]]},{"id":"af860cfc.fc1da8","type":"comment","z":"75636c7a.a793d4","name":"request padrao","info":"","x":380,"y":120,"wires":[]}]
