mqtttest.json
[{"id":"51948db9.3ace2c","type":"mosca in","z":"670ed180.7c0db","mqtt_port":1883,"mqtt_ws_port":8080,"name":"","username":"","password":"","dburl":"","x":300,"y":180,"wires":[["3e83232b.1cb844"]]},{"id":"3e83232b.1cb844","type":"debug","z":"670ed180.7c0db","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":550,"y":180,"wires":[]},{"id":"e70b661d.83f9b8","type":"mqtt in","z":"670ed180.7c0db","name":"","topic":"test","qos":"2","datatype":"auto","broker":"1a54f7d.2e05a88","x":240,"y":260,"wires":[["a2490d42.957c2"]]},{"id":"c4dfe338.28504","type":"mqtt out","z":"670ed180.7c0db","name":"","topic":"test","qos":"","retain":"","broker":"1a54f7d.2e05a88","x":500,"y":340,"wires":[]},{"id":"76b4c7f9.e3f3","type":"inject","z":"670ed180.7c0db","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":300,"y":360,"wires":[["c4dfe338.28504"]]},{"id":"a2490d42.957c2","type":"debug","z":"670ed180.7c0db","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":470,"y":260,"wires":[]},{"id":"1a54f7d.2e05a88","type":"mqtt-broker","z":"","name":"","broker":"localhost","port":"1883","clientid":"","usetls":false,"compatmode":true,"keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","closeTopic":"","closeQos":"0","closePayload":"","willTopic":"","willQos":"0","willPayload":""}]
