mysql.json
[{"id":"d8b2f8ae.561a38","type":"http in","z":"db15d82d.5e5868","name":"","url":"trackgps","method":"post","upload":false,"swaggerDoc":"","x":190,"y":220,"wires":[["1b1315dc.2a2f92"]]},{"id":"1b1315dc.2a2f92","type":"function","z":"db15d82d.5e5868","name":"validation","func":"var status = 0;\nif (msg.payload.deviceid && \n    msg.payload.latitude && \n    msg.payload.longitude && \n    msg.payload.timestamp)\n{\n  status = 1;\n}\nmsg.payload.status = status;\nreturn msg;","outputs":1,"noerr":0,"x":390,"y":240,"wires":[["ebef9990.bb4da"]]},{"id":"ebef9990.bb4da","type":"switch","z":"db15d82d.5e5868","name":"router","property":"payload.status","propertyType":"msg","rules":[{"t":"eq","v":"1","vt":"str"},{"t":"eq","v":"0","vt":"str"}],"checkall":"true","repair":false,"outputs":2,"x":560,"y":240,"wires":[["d0c1ba0a.12baa","481b3b11.d98074"],["a8ba8510.4e6fb8"]]},{"id":"d0c1ba0a.12baa","type":"http response","z":"db15d82d.5e5868","name":"OK","statusCode":"200","headers":{},"x":710,"y":140,"wires":[]},{"id":"a8ba8510.4e6fb8","type":"http response","z":"db15d82d.5e5868","name":"Bad request","statusCode":"400","headers":{},"x":720,"y":280,"wires":[]},{"id":"481b3b11.d98074","type":"function","z":"db15d82d.5e5868","name":"sql insert","func":"msg.topic = \"INSERT INTO tbl_all_positions (deviceid, latitude, longitude, timestamp) \" + \n            \"VALUES ('\" + msg.payload.deviceid + \"', '\" + msg.payload.latitude + \"', '\" + \n            msg.payload.longitude + \"', '\" + msg.payload.timestamp + \"');\"            \nreturn msg","outputs":1,"noerr":0,"x":760,"y":220,"wires":[["987674b5.9866f"]]},{"id":"987674b5.9866f","type":"mysql","z":"db15d82d.5e5868","mydb":"78f5edff.8eb6dc","name":"Mysql - gps_log","x":940,"y":180,"wires":[[]]},{"id":"2e8041d4.de11de","type":"debug","z":"db15d82d.5e5868","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":1130,"y":220,"wires":[]},{"id":"78f5edff.8eb6dc","type":"MySQLdatabase","z":"","host":"127.0.0.1","port":"3306","db":"gps_log","tz":""}]
