simplelogin.json
[{"id":"5a4dff16.87f1f","type":"tab","label":"Login Screen","disabled":false,"info":""},{"id":"1b26e75e.6663c9","type":"ui_form","z":"5a4dff16.87f1f","name":"Dashboard Sign-In","label":"","group":"220b9750.13b218","order":0,"width":0,"height":0,"options":[{"label":"username","value":"username","type":"text","required":true},{"label":"password","value":"password","type":"password","required":true}],"formValue":{"username":"","password":""},"payload":"","submit":"submit","cancel":"cancel","topic":"","x":90,"y":160,"wires":[["85aae677.a4bc18","3184b81d.d64ba8"]]},{"id":"5fb037c7.8bd1d8","type":"comment","z":"5a4dff16.87f1f","name":"Sign-In Form","info":"","x":70,"y":40,"wires":[]},{"id":"3cdfcecc.b720f2","type":"function","z":"5a4dff16.87f1f","name":"Account Verification","func":"var accounts =  flow.get(\"accounts\"); \n\nvar username = msg.payload.username ;\nvar password = msg.payload.password ; \n\nmsg.payload = 1;\n\naccounts.forEach(function ( account ){\n    if ( account.username == username ) {\n       msg.payload = 2;\n       if ( account.password == password ) {\n           msg.payload = 0;\n       } \n    }\n});\n// keep the original socketid from msg.socketid;\nreturn msg;","outputs":1,"noerr":0,"x":350,"y":160,"wires":[["8e06a969.0b5838"]]},{"id":"8e06a969.0b5838","type":"switch","z":"5a4dff16.87f1f","name":"","property":"payload","propertyType":"msg","rules":[{"t":"eq","v":"0","vt":"str"},{"t":"eq","v":"1","vt":"str"},{"t":"eq","v":"2","vt":"str"}],"checkall":"true","repair":false,"outputs":3,"x":531.0000419616699,"y":205.9999885559082,"wires":[["579b3fcb.2c67"],["1072ed94.cdbce2"],["1bd4d0b9.5e6d4f"]]},{"id":"579b3fcb.2c67","type":"function","z":"5a4dff16.87f1f","name":"= 0 : Success","func":"\n/* ui-control payload */\nmsg.payload = {tab:\"Second Form\",\n               tabs:{show:[\"Second Form\", \"Logout\"]}\n              }\n\nreturn msg;","outputs":1,"noerr":0,"x":700.999885559082,"y":161.99999809265137,"wires":[["cb2dab81.4bf948","231a0f66.299ba"]]},{"id":"1072ed94.cdbce2","type":"function","z":"5a4dff16.87f1f","name":"= 1 : Unknown User","func":"msg.payload = \"Username Doesn't exist!!!\"\nreturn msg;","outputs":1,"noerr":0,"x":750,"y":280,"wires":[["1c609a3.7c6f966"]]},{"id":"1bd4d0b9.5e6d4f","type":"function","z":"5a4dff16.87f1f","name":"= 2 : Wrong Password","func":"msg.payload = \"Invalid Password\";\nreturn msg;","outputs":1,"noerr":0,"x":740,"y":360,"wires":[["1c609a3.7c6f966"]]},{"id":"cb2dab81.4bf948","type":"ui_ui_control","z":"5a4dff16.87f1f","name":"Go to Main Screen","x":958.0000686645508,"y":161.9999942779541,"wires":[[]]},{"id":"1c609a3.7c6f966","type":"ui_toast","z":"5a4dff16.87f1f","position":"dialog","displayTime":"3","highlight":"","outputs":1,"ok":"OK","cancel":"","topic":"Authentication Failed","name":"Authentication Failure Dialog","x":1000,"y":320,"wires":[[]]},{"id":"85aae677.a4bc18","type":"change","z":"5a4dff16.87f1f","name":"Account config","rules":[{"t":"set","p":"accounts","pt":"flow","to":"[{\"username\":\"admin\",\"password\":\"admin\"},{\"username\":\"admin2\",\"password\":\"admin2\"}]","tot":"json"}],"action":"","property":"","from":"","to":"","reg":false,"x":260,"y":80,"wires":[["3cdfcecc.b720f2"]],"info":"Modifique aqui os usuários do sistema, verifique\nque essa é uma solução plain-text, o melhor seria\nse o sistema guardasse o usuário e senha em um banco\nde dados e recebesse, ao menos a senha, criptografada."},{"id":"3184b81d.d64ba8","type":"debug","z":"5a4dff16.87f1f","name":"Login 1","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","x":320,"y":260,"wires":[]},{"id":"231a0f66.299ba","type":"debug","z":"5a4dff16.87f1f","name":"Login 1","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","x":940,"y":100,"wires":[]},{"id":"220b9750.13b218","type":"ui_group","z":"","name":"Sign-in","tab":"aa2dde9a.822c4","order":1,"disp":true,"width":"6","collapse":false},{"id":"aa2dde9a.822c4","type":"ui_tab","z":"","name":"Login Screen","icon":"dashboard","order":2,"disabled":false,"hidden":true}]
