iotmiddlewareExamples/devicedataviewer.json
[{"id":"b63bf653.0fbea8","type":"tab","label":"Device Data Viewer","disabled":false,"info":""},{"id":"67c317da.d9fa68","type":"ui_template","z":"b63bf653.0fbea8","group":"da8119cb.2cd548","name":"Sensors","order":1,"width":"8","height":"3","format":"<!--\n  cria uma tabela com os sensores e um botão\n  quando o botão é pressionado o template envia\n  o nome do sensor como payload. Esse valor\n  é usado para preencher a tabela de dados\n-->\n<style>\n    table, th, td {\n      border-bottom: 1px solid #ccc;\n      border-collapse: collapse;\n    }\n    tr:hover {\n      background-color: #000022;\n    }\n    th {\n      text-align: left;\n    }\n</style>\n\n<table>\n  <tr>\n    <th>Sensor</th>\n    <th>Visualizar</th> \n  </tr>\n  <tr ng-repeat=\"x in msg.payload[0].sensores\">\n    <td>{{x}}</td>\n    <td>\n        <md-button style=\"margin: 0px 0px 0px 0px;\" ng-click=\"send({payload: {view:'table', 'sensor':x})\">Tabela</md-button>\n        <md-button style=\"margin: 0px 0px 0px 0px;\" ng-click=\"send({payload: {view:'table', 'sensor':x}})\">Grafico</md-button>\n    </td>\n  </tr>\n</table>","storeOutMessages":false,"fwdInMessages":false,"templateScope":"local","x":900,"y":340,"wires":[["7046130.d9697ec"]]},{"id":"2cb5a8ef.5bf2d8","type":"ui_ui_control","z":"b63bf653.0fbea8","name":"","x":280,"y":400,"wires":[["f440c89f.037b88"]]},{"id":"f440c89f.037b88","type":"function","z":"b63bf653.0fbea8","name":"Device Data?","func":"\nmsg.status = 0;\n\n/*testa se a tela corrente é a Device Data*/\nvar screen = global.get(\"screen\");\n\nif (screen == \"Device Data\"){\n    msg.status = 1;\n    msg.payload = {};\n    msg.payload.deviceId = global.get(\"selectedDev\").deviceId;\n}\n\nreturn msg;","outputs":1,"noerr":0,"x":300,"y":500,"wires":[["81b7d2b3.04053"]]},{"id":"81b7d2b3.04053","type":"switch","z":"b63bf653.0fbea8","name":"update?","property":"status","propertyType":"msg","rules":[{"t":"eq","v":"1","vt":"str"},{"t":"eq","v":"0","vt":"str"}],"checkall":"true","repair":false,"outputs":2,"x":520,"y":360,"wires":[["81e5a7e8.a32888"],[]]},{"id":"81e5a7e8.a32888","type":"mongodb in","z":"b63bf653.0fbea8","mongodb":"b9ecb6c7.9dc8e8","name":"find dispositivos","collection":"dispositivos","operation":"find","x":700,"y":340,"wires":[["67c317da.d9fa68"]]},{"id":"c23b0a3d.b60338","type":"ui_chart","z":"b63bf653.0fbea8","name":"","group":"9879b3d6.d54f8","order":1,"width":0,"height":0,"label":"chart","chartType":"line","legend":"false","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","dot":false,"ymin":"","ymax":"","removeOlder":1,"removeOlderPoints":"","removeOlderUnit":"3600","cutout":0,"useOneColor":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"useOldStyle":false,"outputs":1,"x":1310,"y":540,"wires":[[]]},{"id":"5e730252.203a3c","type":"mongodb in","z":"b63bf653.0fbea8","mongodb":"b9ecb6c7.9dc8e8","name":"find data","collection":"dados","operation":"find","x":880,"y":520,"wires":[["2914dda0.309372","f89a9358.d2a81"]]},{"id":"7046130.d9697ec","type":"function","z":"b63bf653.0fbea8","name":"Device Data?","func":"\n/*\n    para retornar todos os dados relacionados a um sensor\n    usamos o device token e selecionamos o campo\n    que queremos que o banco retorne.\n    EX: db.dados.find({deviceToken :\"token\"}, {sensor:1})\n    \n    No caso de um array, se quremos que o banco retorne\n    apenas alguns elmentos do array de dados do sensor\n    fazemos\n    EX: \n    db.dados.find({deviceToken :\"token\"}, {sensor: {$slice : 20}}) //20 primeiros\n    db.dados.find({deviceToken :\"token\"}, {sensor: {$slice : -20}}) //20 ultimos\n    db.dados.find({deviceToken :\"token\"}, {sensor: {$slice : [20, 20]}}) //janela de 20 elementos, ignorando os 20 primeiros\n    \n*/\nsensor = msg.payload.sensor;\nflow.set(\"seletectSensor\", sensor);\n\nselectedDev = global.get(\"selectedDev\");\n\nmsg.payload = {};\nmsg.payload.deviceToken = selectedDev.deviceToken;\n\n// usado para filtrar o resultado\nmsg.projection = {};\n// remove todos os outros sensores da query\nfor (i =0; i<selectedDev.sensores.length; i++)\n    msg.projection[selectedDev.sensores[i]] = 0;\n// filtra apenas o sensor especifico\nmsg.projection[sensor] = {};\n\n// limita o tamanho do vetor de dados\nmsg.projection[sensor][\"$slice\"] = 100;\n\nreturn msg;","outputs":1,"noerr":0,"x":660,"y":520,"wires":[["5e730252.203a3c","5a3c83d8.ad8bac"]]},{"id":"2914dda0.309372","type":"function","z":"b63bf653.0fbea8","name":"Create Chart","func":"selectedSensor = flow.get(\"seletectSensor\");\nsensorData = msg.payload[0][selectedSensor]\n\nmsg1={};\nmsg2={};\nif(sensorData.length > 1){\n    /*exibe o gráfico*/\n    msg1.payload = {group:{ show:[\"Device_Data_Grafico\"]} };\n    /*\n    Transforma o vetor do banco em dados para o gráfico\n    */\n    var chart = [{\n        \"series\":[selectedSensor],\n        \"data\":[],\n        \"labels\":[selectedSensor]\n    }];\n    \n    /*\n    estranho? mas é assim mesmo\n    inicializa o elemento 0, do vetor data,\n    que esta dentro do elemento 0 do vetor chart,\n    com um vetor vazio\n    */\n    chart[0].data[0] = [];\n    msg2.payload=chart;\n    for(i=0; i<sensorData.length; i++)\n        msg2.payload[0].data[0].push( {\"x\" : sensorData[i].timestamp, \"y\": sensorData[i].valor[0]});\n}\nelse{\n    msg1.payload = {group:{ hide:[\"Device_Data_Grafico\"]} };\n    msg2.payload = [];\n}\nreturn [msg1, msg2];\n","outputs":2,"noerr":0,"x":1070,"y":520,"wires":[["ed354cf4.6fe75"],["c23b0a3d.b60338","1385a02f.dfb92"]]},{"id":"f89a9358.d2a81","type":"debug","z":"b63bf653.0fbea8","name":"Find values","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","x":1070,"y":580,"wires":[]},{"id":"5a3c83d8.ad8bac","type":"debug","z":"b63bf653.0fbea8","name":"Find values 1","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","x":830,"y":580,"wires":[]},{"id":"ed354cf4.6fe75","type":"ui_ui_control","z":"b63bf653.0fbea8","name":"","x":1320,"y":500,"wires":[[]]},{"id":"1385a02f.dfb92","type":"debug","z":"b63bf653.0fbea8","name":"Chart vals","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","x":1300,"y":600,"wires":[]},{"id":"aa84f070.df67a","type":"link in","z":"b63bf653.0fbea8","name":"","links":["e41fc404.9b2378"],"x":895,"y":440,"wires":[["120af273.5a673e","3e5b9306.14ed5c"]]},{"id":"120af273.5a673e","type":"function","z":"b63bf653.0fbea8","name":"Update Real Time","func":"/*\ntesta se a mensagem POST de dados recebida\nfoi para o sensor que está sendo visualizado\ncaso positivo, atualiza o gráfico em tempo\nreal\n*/\n\nselectedSensor = flow.get(\"seletectSensor\");\nselectedDevice = global.get(\"selectedDev\");\n\nnode.log(\"selected dev \" + selectedDevice)\nnode.log(\"selected sensor \" + selectedSensor)\n\nif(msg.payload.deviceToken == selectedDevice.deviceToken &&\n   msg.payload.sensor == selectedSensor){\n\n    /*exibe o gráfico, senão estiver sendo exibido*/\n    msg1={};\n    msg1.payload = {group:{ show:[\"Device_Data_Grafico\"]} };\n    \n    /*\n    cria a mensagem de atualizacao do gráfico\n    */\n    msg2={topic:selectedSensor, timestamp:msg.payload.timestamp, payload:msg.payload.valor[0]}\n\n    \n    return [msg1, msg2]\n}\n","outputs":2,"noerr":0,"x":1050,"y":440,"wires":[["ed354cf4.6fe75"],["c23b0a3d.b60338","eb688e8.a8e097"]]},{"id":"eb688e8.a8e097","type":"debug","z":"b63bf653.0fbea8","name":"RT update","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","x":1310,"y":400,"wires":[]},{"id":"fb4b21e7.1c453","type":"ui_button","z":"b63bf653.0fbea8","name":"","group":"da8119cb.2cd548","order":1,"width":0,"height":0,"passthru":false,"label":"Back to Device Manager","tooltip":"Back to Device Manager","color":"","bgcolor":"","icon":"","payload":"","payloadType":"str","topic":"","x":310,"y":720,"wires":[["e7ab9c47.80627"]]},{"id":"79a67dcc.9015e4","type":"ui_ui_control","z":"b63bf653.0fbea8","name":"","x":760,"y":720,"wires":[[]]},{"id":"e7ab9c47.80627","type":"function","z":"b63bf653.0fbea8","name":"Go to Device Manager","func":"\n/*\nretorna para a tela de login quando a aba\nlog-out é clicada\n*/\n\nmsg.payload = {tab:\"Device Manager\",\n               group:{hide:[\"Device_Data_Grafico\"]}\n              }\n\n\nreturn msg;\n","outputs":1,"noerr":0,"x":560,"y":720,"wires":[["79a67dcc.9015e4","da5c2fae.f1c3b"]]},{"id":"da5c2fae.f1c3b","type":"link out","z":"b63bf653.0fbea8","name":"","links":["7792b39.78afa4c"],"x":715,"y":800,"wires":[]},{"id":"2144ffe2.0574","type":"inject","z":"b63bf653.0fbea8","name":"setup","topic":"","payload":"setup","payloadType":"str","repeat":"","crontab":"","once":true,"onceDelay":"0.5","x":270,"y":240,"wires":[["1ce6e85a.8f5688"]]},{"id":"1ce6e85a.8f5688","type":"function","z":"b63bf653.0fbea8","name":"UI Setup","func":"\n/* inicia a tela com o Device Information sem aparecer */\nmsg.payload = {\n               group:{ hide:[\"Device_Data_Grafico\"]}\n              }\n/*muda a tela para a tela \"Device Manager\"*/\nif (msg.payload != \"setup\")\n    global.set(\"screen\", \"Device Data\")\n\nreturn msg;","outputs":1,"noerr":0,"x":280,"y":300,"wires":[["2cb5a8ef.5bf2d8"]]},{"id":"2a247bd9.bbd6c4","type":"link in","z":"b63bf653.0fbea8","name":"Device Data Ui Setup","links":[],"x":135,"y":300,"wires":[["1ce6e85a.8f5688"]]},{"id":"3e5b9306.14ed5c","type":"debug","z":"b63bf653.0fbea8","name":"RT update 2","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","x":1070,"y":400,"wires":[]},{"id":"da8119cb.2cd548","type":"ui_group","z":"","name":"Device Sensors","tab":"f91c0be4.30f498","order":1,"disp":true,"width":"8","collapse":false},{"id":"b9ecb6c7.9dc8e8","type":"mongodb","z":"","hostname":"127.0.0.1","port":"27017","db":"iotmiddleware","name":""},{"id":"9879b3d6.d54f8","type":"ui_group","z":"","name":"Grafico","tab":"f91c0be4.30f498","order":2,"disp":true,"width":"6","collapse":false},{"id":"f91c0be4.30f498","type":"ui_tab","z":"","name":"Device Data","icon":"dashboard","order":3,"disabled":false,"hidden":true}]
