iotmiddlewareExamples/devicedataviewer.json
[{"id":"b63bf653.0fbea8","type":"tab","label":"Device Data Viewer","disabled":false,"info":""},{"id":"67c317da.d9fa68","type":"ui_template","z":"b63bf653.0fbea8","group":"da8119cb.2cd548","name":"Sensors","order":1,"width":"8","height":"3","format":"<!--\n  cria uma tabela com os sensores e um botão\n  quando o botão é pressionado o template envia\n  o nome do sensor como payload. Esse valor\n  é usado para preencher a tabela de dados\n-->\n<style>\n    table, th, td {\n      border-bottom: 1px solid #ccc;\n      border-collapse: collapse;\n    }\n    tr:hover {\n      background-color: #000022;\n    }\n    th {\n      text-align: left;\n    }\n</style>\n\n<table>\n  <tr>\n    <th>Sensor</th>\n    <th>Visualizar</th> \n  </tr>\n  <tr ng-repeat=\"x in msg.payload[0].sensores\">\n    <td>{{x}}</td>\n    <td>\n        <md-button style=\"margin: 0px 0px 0px 0px;\" ng-click=\"send({payload: {view:'table', 'sensor':x})\">Tabela</md-button>\n        <md-button style=\"margin: 0px 0px 0px 0px;\" ng-click=\"send({payload: {view:'table', 'sensor':x}})\">Grafico</md-button>\n    </td>\n  </tr>\n</table>","storeOutMessages":false,"fwdInMessages":false,"templateScope":"local","x":760,"y":320,"wires":[["7046130.d9697ec"]]},{"id":"2cb5a8ef.5bf2d8","type":"ui_ui_control","z":"b63bf653.0fbea8","name":"","x":140,"y":420,"wires":[["f440c89f.037b88"]]},{"id":"f440c89f.037b88","type":"function","z":"b63bf653.0fbea8","name":"Device Data?","func":"\nmsg.status = 0;\n\n/*testa se a tela corrente é a Device Data*/\nvar screen = global.get(\"screen\");\n\nif (screen == \"Device Data\"){\n    msg.status = 1;\n    msg.payload = {};\n    msg.payload.deviceId = global.get(\"selectedDev\").deviceId;\n}\n\nreturn msg;","outputs":1,"noerr":0,"x":160,"y":340,"wires":[["81b7d2b3.04053"]]},{"id":"81b7d2b3.04053","type":"switch","z":"b63bf653.0fbea8","name":"update?","property":"status","propertyType":"msg","rules":[{"t":"eq","v":"1","vt":"str"},{"t":"eq","v":"0","vt":"str"}],"checkall":"true","repair":false,"outputs":2,"x":380,"y":340,"wires":[["81e5a7e8.a32888"],[]]},{"id":"81e5a7e8.a32888","type":"mongodb in","z":"b63bf653.0fbea8","mongodb":"b9ecb6c7.9dc8e8","name":"find dispositivos","collection":"dispositivos","operation":"find","x":560,"y":320,"wires":[["67c317da.d9fa68"]]},{"id":"c23b0a3d.b60338","type":"ui_chart","z":"b63bf653.0fbea8","name":"","group":"9879b3d6.d54f8","order":1,"width":0,"height":0,"label":"chart","chartType":"line","legend":"false","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","dot":false,"ymin":"","ymax":"","removeOlder":1,"removeOlderPoints":"","removeOlderUnit":"3600","cutout":0,"useOneColor":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"useOldStyle":false,"outputs":1,"x":1170,"y":520,"wires":[[]]},{"id":"5e730252.203a3c","type":"mongodb in","z":"b63bf653.0fbea8","mongodb":"b9ecb6c7.9dc8e8","name":"find data","collection":"dados","operation":"find","x":740,"y":500,"wires":[["2914dda0.309372","f89a9358.d2a81"]]},{"id":"7046130.d9697ec","type":"function","z":"b63bf653.0fbea8","name":"Device Data?","func":"\n/*\n    para retornar todos os dados relacionados a um sensor\n    usamos o device token e selecionamos o campo\n    que queremos que o banco retorne.\n    EX: db.dados.find({deviceToken :\"token\"}, {sensor:1})\n    \n    No caso de um array, se quremos que o banco retorne\n    apenas alguns elmentos do array de dados do sensor\n    fazemos\n    EX: \n    db.dados.find({deviceToken :\"token\"}, {sensor: {$slice : 20}}) //20 primeiros\n    db.dados.find({deviceToken :\"token\"}, {sensor: {$slice : -20}}) //20 ultimos\n    db.dados.find({deviceToken :\"token\"}, {sensor: {$slice : [20, 20]}}) //janela de 20 elementos, ignorando os 20 primeiros\n    \n*/\nsensor = msg.payload.sensor;\nflow.set(\"seletectSensor\", sensor);\n\nselectedDev = global.get(\"selectedDev\");\n\nmsg.payload = {};\nmsg.payload.deviceToken = selectedDev.deviceToken;\n\n// usado para filtrar o resultado\nmsg.projection = {};\n// remove todos os outros sensores da query\nfor (i =0; i<selectedDev.sensores.length; i++)\n    msg.projection[selectedDev.sensores[i]] = 0;\n// filtra apenas o sensor especifico\nmsg.projection[sensor] = {};\n\n// limita o tamanho do vetor de dados\nmsg.projection[sensor][\"$slice\"] = 100;\n\nreturn msg;","outputs":1,"noerr":0,"x":520,"y":500,"wires":[["5e730252.203a3c","5a3c83d8.ad8bac"]]},{"id":"2914dda0.309372","type":"function","z":"b63bf653.0fbea8","name":"Create Chart","func":"selectedSensor = flow.get(\"seletectSensor\");\nsensorData = msg.payload[0][selectedSensor]\n\n/*exibe o gráfico*/\nmsg1={};\nif(sensorData.length > 1)\n    msg1.payload = {group:{ show:[\"Device_Data_Grafico\"]} };\n\n/*\nTransforma o vetor do banco em dados para o gráfico\n*/\nmsg2={};\nvar chart = [{\n    \"series\":[selectedSensor],\n    \"data\":[],\n    \"labels\":[selectedSensor]\n}];\n\n/*\nestranho? mas é assim mesmo\ninicializa o elemento 0, do vetor data,\nque esta dentro do elemento 0 do vetor chart,\ncom um vetor vazio\n*/\nchart[0].data[0] = [];\nmsg2.payload=chart;\nfor(i=0; i<sensorData.length; i++)\n    msg2.payload[0].data[0].push( {\"x\" : sensorData[i].timestamp, \"y\": sensorData[i].valor[0]});\n\nreturn [msg1, msg2];","outputs":2,"noerr":0,"x":930,"y":500,"wires":[["ed354cf4.6fe75"],["c23b0a3d.b60338","1385a02f.dfb92"]]},{"id":"f89a9358.d2a81","type":"debug","z":"b63bf653.0fbea8","name":"Find values","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","x":930,"y":560,"wires":[]},{"id":"5a3c83d8.ad8bac","type":"debug","z":"b63bf653.0fbea8","name":"Find values 1","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","x":690,"y":560,"wires":[]},{"id":"ed354cf4.6fe75","type":"ui_ui_control","z":"b63bf653.0fbea8","name":"","x":1180,"y":480,"wires":[[]]},{"id":"1385a02f.dfb92","type":"debug","z":"b63bf653.0fbea8","name":"Chart vals","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","x":1160,"y":580,"wires":[]},{"id":"aa84f070.df67a","type":"link in","z":"b63bf653.0fbea8","name":"","links":["e41fc404.9b2378"],"x":755,"y":420,"wires":[["120af273.5a673e","3e5b9306.14ed5c"]]},{"id":"120af273.5a673e","type":"function","z":"b63bf653.0fbea8","name":"Update Real Time","func":"/*\ntesta se a mensagem POST de dados recebida\nfoi para o sensor que está sendo visualizado\ncaso positivo, atualiza o gráfico em tempo\nreal\n*/\n\nselectedSensor = flow.get(\"seletectSensor\");\nselectedDevice = global.get(\"selectedDev\");\n\nnode.log(\"selected dev \" + selectedDevice)\nnode.log(\"selected sensor \" + selectedSensor)\n\nif(msg.payload.deviceToken == selectedDevice.deviceToken &&\n   msg.payload.sensor == selectedSensor){\n\n    /*exibe o gráfico, senão estiver sendo exibido*/\n    msg1={};\n    msg1.payload = {group:{ show:[\"Device_Data_Grafico\"]} };\n    \n    /*\n    cria a mensagem de atualizacao do gráfico\n    */\n    msg2={topic:selectedSensor, timestamp:msg.payload.timestamp, payload:msg.payload.valor[0]}\n\n    \n    return [msg1, msg2]\n}\n","outputs":2,"noerr":0,"x":910,"y":420,"wires":[["ed354cf4.6fe75"],["c23b0a3d.b60338","eb688e8.a8e097"]]},{"id":"eb688e8.a8e097","type":"debug","z":"b63bf653.0fbea8","name":"RT update","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","x":1170,"y":380,"wires":[]},{"id":"3e5b9306.14ed5c","type":"debug","z":"b63bf653.0fbea8","name":"RT update 2","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","x":930,"y":380,"wires":[]},{"id":"da8119cb.2cd548","type":"ui_group","z":"","name":"Device Sensors","tab":"f91c0be4.30f498","order":1,"disp":true,"width":"8","collapse":false},{"id":"b9ecb6c7.9dc8e8","type":"mongodb","z":"","hostname":"127.0.0.1","port":"27017","db":"iotmiddleware","name":""},{"id":"9879b3d6.d54f8","type":"ui_group","z":"","name":"Grafico","tab":"f91c0be4.30f498","order":2,"disp":true,"width":"6","collapse":false},{"id":"f91c0be4.30f498","type":"ui_tab","z":"","name":"Device Data","icon":"dashboard","order":3,"disabled":false,"hidden":true}]
