iotmiddlewareExamples/devicedataapi.json
[{"id":"ec30534b.c1b1b","type":"tab","label":"Device Data Api","disabled":false,"info":""},{"id":"25d323c1.dc209c","type":"mongodb out","z":"ec30534b.c1b1b","mongodb":"b9ecb6c7.9dc8e8","name":"Insert Data","collection":"dados","payonly":false,"upsert":false,"multi":false,"operation":"update","x":870,"y":440,"wires":[]},{"id":"484d5699.192f58","type":"http in","z":"ec30534b.c1b1b","name":"","url":"postData","method":"post","upload":false,"swaggerDoc":"","x":140,"y":340,"wires":[["b3214def.8e73e"]]},{"id":"b3214def.8e73e","type":"function","z":"ec30534b.c1b1b","name":"validation","func":"var status = 0;\n/*\ntesta se a requisiçao veio correta\nnesse caso, apenas a atualização de um\nsensor por dispositivo é feita\n*/\n\n/*\nseria legal adicionar aqui um teste\npara verificar se o sensor desejado:\n1 - está cadastrado\n2 - Possui o sensor que está sendo atualizado\nIsso pode ser feito usando o próprio banco\nna collection dispositivos.\n*/\nif (Object.entries(msg.payload).length == 4 &&\n    msg.payload.hasOwnProperty('deviceToken') &&\n    msg.payload.hasOwnProperty('sensor') &&\n    msg.payload.hasOwnProperty('timestamp') && \n    msg.payload.hasOwnProperty('valor'))\n{\n    status = 1;\n}\nmsg.payload.status = status;\nreturn msg;","outputs":1,"noerr":0,"x":340,"y":340,"wires":[["fe1b115e.a200d"]]},{"id":"fe1b115e.a200d","type":"switch","z":"ec30534b.c1b1b","name":"router","property":"payload.status","propertyType":"msg","rules":[{"t":"eq","v":"1","vt":"str"},{"t":"eq","v":"0","vt":"str"}],"checkall":"true","repair":false,"outputs":2,"x":390,"y":440,"wires":[["55e306f6.ea2338","7d97aec.7f8355","e41fc404.9b2378"],["ba077c24.44754"]]},{"id":"55e306f6.ea2338","type":"http response","z":"ec30534b.c1b1b","name":"OK","statusCode":"200","headers":{},"x":550,"y":400,"wires":[]},{"id":"ba077c24.44754","type":"http response","z":"ec30534b.c1b1b","name":"Bad request","statusCode":"400","headers":{},"x":550,"y":500,"wires":[]},{"id":"7d97aec.7f8355","type":"function","z":"ec30534b.c1b1b","name":"update/insert data query","func":"/*\ncria a query de insersão de dados no banco\nnesse caso a query para inserir na coleção dados,\no dado recebido fica no formato\n\ndb.dados.update({deviceToken:token}, \n                {$push : {sensor : {timestamp:<valor>, valor:<valor>} } }\n               )\n*/\n\nquery_msg = {};\n\nquery_msg.query = {};\nquery_msg.query.deviceToken = msg.payload.deviceToken;\n\nquery_msg.payload = {};\nquery_msg.payload[\"$push\"] = {};\nquery_msg.payload[\"$push\"][msg.payload.sensor] = {};\nquery_msg.payload[\"$push\"][msg.payload.sensor].timestamp = msg.payload.timestamp;\nquery_msg.payload[\"$push\"][msg.payload.sensor].valor = msg.payload.valor;\n\n\nreturn query_msg;","outputs":1,"noerr":0,"x":610,"y":440,"wires":[["25d323c1.dc209c"]]},{"id":"46ca7a72.ed37a4","type":"comment","z":"ec30534b.c1b1b","name":"Insere dados no banco","info":"Usa uma api POST para inserir dados,\nnesse caso apenas 1 dado é inserido por vez\n\nExemplo de uso\ncurl --header \"Content-Type: application/json\" --request POST http://127.0.0.1:1880/postData --data '{\"deviceToken\":\"token\",\"sensor\":\"sensor\",\"timestamp\":2,\"valor\":[1]}'\n","x":160,"y":280,"wires":[]},{"id":"e41fc404.9b2378","type":"link out","z":"ec30534b.c1b1b","name":"dataViewer","links":["aa84f070.df67a"],"x":515,"y":340,"wires":[]},{"id":"b9ecb6c7.9dc8e8","type":"mongodb","z":"","hostname":"127.0.0.1","port":"27017","db":"iotmiddleware","name":""}]
