iotmiddlewareExamples/devicemanager.json
[{"id":"ce215355.108bf8","type":"tab","label":"Device Manager Flow","disabled":false,"info":""},{"id":"99302d6c.1983d","type":"ui_form","z":"ce215355.108bf8","name":"Formulario","label":"Registrar Dispositivo","group":"d9a3b8ac.c0d0d","order":0,"width":0,"height":0,"options":[{"label":"Deviceid","value":"deviceId","type":"text","required":true},{"label":"Sensores (com \",\")","value":"sensors","type":"text","required":true}],"formValue":{"deviceId":"","sensors":""},"payload":"","submit":"Registrar","cancel":"Cancelar","topic":"form","x":160,"y":740,"wires":[["ef9e8c0e.bec53"]]},{"id":"877fb251.93e99","type":"ui_dropdown","z":"ce215355.108bf8","name":"","label":"Device","tooltip":"Select One","place":"","group":"c5e6fad.78e3788","order":1,"width":0,"height":0,"passthru":false,"options":[],"payload":"","topic":"","x":1010,"y":480,"wires":[["3311460c.1c2f3a"]]},{"id":"ef9e8c0e.bec53","type":"function","z":"ce215355.108bf8","name":"Queries de criaçao de dispositivo","func":"\n/*Solução copiada de\n  https://stackoverflow.com/questions/8532406/create-a-random-token-in-javascript-based-on-user-details\n  gera um token aleatório\n  não garante que não haverá colisão entre os\n  tokens.\n*/\nvar rand = function() {\n    return Math.random().toString(36).substr(2); // remove `0.`\n};\n\nvar token = function() {\n    return rand() + rand(); // to make it longer\n};\n\n/*gera um token unico para o dispositivo*/\ndeviceToken = token();\n/*converte de string para um vetor*/\nsensors = msg.payload.sensors.split(\",\");\nfor (i = 0; i<sensors.length; i++)\n    sensors[i] = sensors[i].trim(); //remove espaços\n\ndeviceId = msg.payload.deviceId;\n\nmsg1 = {};\nmsg2 = {};\nmsg3 = {};\n\n/*mesnagem de atualização da lista de dispositivos*/\nmsg1.payload = \"\";\n\n/*mensagem de insersão na collection dispositivos*/\nmsg2.payload = {};\nmsg2.payload.deviceId = deviceId;\nmsg2.payload.sensores = sensors;\nmsg2.payload.deviceToken = deviceToken;\n\n/*mensagem de insersão na collection dados*/\nmsg3.payload = {};\nmsg3.payload.deviceToken = deviceToken;\nfor(i=0; i<sensors.length; i++)\n    msg3.payload[sensors[i]] = [];\n\n\nreturn [msg1, msg2, msg3];","outputs":3,"noerr":0,"x":380,"y":740,"wires":[["8d244304.dbc5f"],["7dd964ab.fe337c"],["e9be5d22.e72a6"]]},{"id":"7dd964ab.fe337c","type":"mongodb out","z":"ce215355.108bf8","mongodb":"b9ecb6c7.9dc8e8","name":"","collection":"dispositivos","payonly":true,"upsert":false,"multi":false,"operation":"insert","x":870,"y":700,"wires":[]},{"id":"ca1e0b0f.bdbbf8","type":"mongodb in","z":"ce215355.108bf8","mongodb":"b9ecb6c7.9dc8e8","name":"find dispositivos","collection":"dispositivos","operation":"find","x":640,"y":560,"wires":[["c57d4be6.de5c08"]]},{"id":"c57d4be6.de5c08","type":"function","z":"ce215355.108bf8","name":"Filtrar nomes","func":"\n/*\ncria uma estrutura capaz de ser exibida\nno dropdown\n*/\nvar i;\nmsg.options = [];\n\nfor (i = 0; i < msg.payload.length; i++) {\n  var obj = {};\n  obj[msg.payload[i].deviceId] = msg.payload[i];\n  msg.options[i] =  obj;\n}\n\nreturn msg;","outputs":1,"noerr":0,"x":850,"y":480,"wires":[["877fb251.93e99"]]},{"id":"7037a584.16b74c","type":"comment","z":"ce215355.108bf8","name":"Listar dispositivos (deveria ser uma tabela)","info":"","x":900,"y":380,"wires":[]},{"id":"6687da1f.e8a4d4","type":"ui_template","z":"ce215355.108bf8","group":"ddc1b3e4.4d6118","name":"Device Info","order":1,"width":"8","height":"4","format":"<ul>\n    <li>Device id: {{msg.payload.deviceId}}</li>\n    <li>Device token: {{msg.payload.deviceToken}}</li>\n    <li>Sensores</li>\n    <li ng-repeat=\"x in msg.payload.sensores\">{{x}}</li>\n</ul>\n","storeOutMessages":true,"fwdInMessages":true,"templateScope":"local","x":1370,"y":460,"wires":[[]]},{"id":"1e0625dc.83914a","type":"ui_ui_control","z":"ce215355.108bf8","name":"","x":180,"y":640,"wires":[["b0f9f30c.4b373"]]},{"id":"b0f9f30c.4b373","type":"function","z":"ce215355.108bf8","name":"Device Manager?","func":"\nmsg.status = 0;\n\n/*testa se a tela corrente é a Device Data*/\nvar screen = global.get(\"screen\");\n\nif (screen == \"Device Manager\"){\n    msg.status = 1;\n    msg.payload = \"\";\n}\n\nreturn msg;","outputs":1,"noerr":0,"x":210,"y":580,"wires":[["3e0a1415.4763fc"]]},{"id":"3e0a1415.4763fc","type":"switch","z":"ce215355.108bf8","name":"update?","property":"status","propertyType":"msg","rules":[{"t":"eq","v":"1","vt":"str"},{"t":"eq","v":"0","vt":"str"}],"checkall":"true","repair":false,"outputs":2,"x":400,"y":580,"wires":[["ca1e0b0f.bdbbf8"],[]]},{"id":"555ec9b6.c2bab8","type":"ui_button","z":"ce215355.108bf8","name":"","group":"c5e6fad.78e3788","order":2,"width":"4","height":"1","passthru":false,"label":"Edit","tooltip":"","color":"","bgcolor":"","icon":"","payload":"","payloadType":"str","topic":"","x":450,"y":900,"wires":[[]]},{"id":"31eb841a.1cfbac","type":"ui_button","z":"ce215355.108bf8","name":"","group":"c5e6fad.78e3788","order":2,"width":"4","height":"1","passthru":false,"label":"View Data","tooltip":"","color":"","bgcolor":"","icon":"","payload":"","payloadType":"str","topic":"","x":460,"y":1002,"wires":[["306305e3.32d0ca"]]},{"id":"915c6947.74fb58","type":"comment","z":"ce215355.108bf8","name":"Lista de dispositivos","info":"Atualiza a lista de dispositivos quando o usuário \nnavega para a página \"Device Manager\"","x":190,"y":520,"wires":[]},{"id":"306305e3.32d0ca","type":"function","z":"ce215355.108bf8","name":"Go to Device Data","func":"\n/*\nretorna para a tela de login quando a aba\nlog-out é clicada\n*/\n\nmsg.payload = {tab:\"Device Data\",\n               group:{hide:[\"Device_Data_Grafico\"]}\n              }\n\n/*muda a tela para a tela \"Device Data\"*/\nglobal.set(\"screen\", \"Device Data\");\n\n\nreturn msg;\n","outputs":1,"noerr":0,"x":650,"y":1002,"wires":[["183c72d1.d156ed"]]},{"id":"183c72d1.d156ed","type":"ui_ui_control","z":"ce215355.108bf8","name":"","x":820,"y":1002,"wires":[[]]},{"id":"2b505145.5f767e","type":"comment","z":"ce215355.108bf8","name":"Tela de Visulização de dados","info":"Deve editar as informações do \ndispositivo de alguma forma.","x":520,"y":962,"wires":[]},{"id":"3311460c.1c2f3a","type":"function","z":"ce215355.108bf8","name":"Show Device Info","func":"\nvar msg2 = {}, msg1 = {};\n//repassa a informação do dispositivo selecionado\nmsg2.payload = msg.payload;\n\nvar logout = global.get(\"logout\")||false;\n\n//mostra a parte de informação, ignora uma vez\n//se o usuário fez logout\n\nif(!logout)\n    msg1.payload = {group:{ show:[\"Device_Manager_Device_Information\"]}};\nelse\n    global.set(\"logout\",false);\n\nglobal.set(\"selectedDev\", msg.payload);\n    \nreturn [msg1, msg2];","outputs":2,"noerr":0,"x":1170,"y":420,"wires":[["a9ab675f.679228"],["6687da1f.e8a4d4"]]},{"id":"a9ab675f.679228","type":"ui_ui_control","z":"ce215355.108bf8","name":"","x":1360,"y":380,"wires":[[]]},{"id":"e9be5d22.e72a6","type":"mongodb out","z":"ce215355.108bf8","mongodb":"b9ecb6c7.9dc8e8","name":"","collection":"dados","payonly":true,"upsert":false,"multi":false,"operation":"insert","x":850,"y":760,"wires":[]},{"id":"3c1b0038.54b6","type":"comment","z":"ce215355.108bf8","name":"Insere dispositivo","info":"- Insere o dispositivo criado na coleção de dispositivos\n- Insere os dados do dispositivo criado na coleção com os dados.","x":780,"y":660,"wires":[]},{"id":"8d244304.dbc5f","type":"delay","z":"ce215355.108bf8","name":"","pauseType":"delay","timeout":"1","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":420,"y":660,"wires":[["ca1e0b0f.bdbbf8"]]},{"id":"d9a3b8ac.c0d0d","type":"ui_group","z":"","name":"New device","tab":"2ce0d9ad.bd5166","order":2,"disp":true,"width":"8","collapse":false},{"id":"c5e6fad.78e3788","type":"ui_group","z":"ce215355.108bf8","name":"Registered Devices","tab":"2ce0d9ad.bd5166","order":3,"disp":true,"width":"8","collapse":false},{"id":"b9ecb6c7.9dc8e8","type":"mongodb","z":"","hostname":"127.0.0.1","port":"27017","db":"iotmiddleware","name":""},{"id":"ddc1b3e4.4d6118","type":"ui_group","z":"","name":"Device Information","tab":"2ce0d9ad.bd5166","order":4,"disp":true,"width":"8","collapse":false},{"id":"2ce0d9ad.bd5166","type":"ui_tab","z":"","name":"Device Manager","icon":"dashboard","order":2,"disabled":false,"hidden":true}]
