iotmiddlewareExamples/loginlogout.json
[{"id":"5a4dff16.87f1f","type":"tab","label":"Login/Logout Flows","disabled":false,"info":""},{"id":"1b26e75e.6663c9","type":"ui_form","z":"5a4dff16.87f1f","name":"Dashboard Sign-In","label":"","group":"220b9750.13b218","order":0,"width":0,"height":0,"options":[{"label":"username","value":"username","type":"text","required":true},{"label":"password","value":"password","type":"password","required":true}],"formValue":{"username":"","password":""},"payload":"","submit":"submit","cancel":"cancel","topic":"","x":110,"y":260,"wires":[["85aae677.a4bc18"]]},{"id":"5fb037c7.8bd1d8","type":"comment","z":"5a4dff16.87f1f","name":"Sign-In Form","info":"","x":90,"y":200,"wires":[]},{"id":"3cdfcecc.b720f2","type":"function","z":"5a4dff16.87f1f","name":"Account Verification","func":"var accounts =  flow.get(\"accounts\"); \n\nvar username = msg.payload.username ;\nvar password = msg.payload.password ; \n\nmsg.payload = 1;\n\naccounts.forEach(function ( account ){\n    if ( account.username == username ) {\n       msg.payload = 2;\n       if ( account.password == password ) {\n           msg.payload = 0;\n       } \n    }\n});\n// keep the original socketid from msg.socketid;\nreturn msg;","outputs":1,"noerr":0,"x":370,"y":260,"wires":[["8e06a969.0b5838"]]},{"id":"8e06a969.0b5838","type":"switch","z":"5a4dff16.87f1f","name":"","property":"payload","propertyType":"msg","rules":[{"t":"eq","v":"0","vt":"str"},{"t":"eq","v":"1","vt":"str"},{"t":"eq","v":"2","vt":"str"}],"checkall":"true","repair":false,"outputs":3,"x":551.0000419616699,"y":305.9999885559082,"wires":[["579b3fcb.2c67"],["1072ed94.cdbce2"],["1bd4d0b9.5e6d4f"]]},{"id":"579b3fcb.2c67","type":"function","z":"5a4dff16.87f1f","name":"= 0 : Success","func":"\n/* ui-control payload */\nmsg.payload = {tab:\"Device Manager\",\n               tabs:{show:[\"Logout\"]},\n              }\n\nreturn msg;","outputs":1,"noerr":0,"x":720.999885559082,"y":261.99999809265137,"wires":[["cb2dab81.4bf948","f9f2bc6b.14793"]]},{"id":"1072ed94.cdbce2","type":"function","z":"5a4dff16.87f1f","name":"= 1 : Unknown User","func":"msg.payload = \"Username Doesn't exist!!!\"\nreturn msg;","outputs":1,"noerr":0,"x":770,"y":380,"wires":[["1c609a3.7c6f966"]]},{"id":"1bd4d0b9.5e6d4f","type":"function","z":"5a4dff16.87f1f","name":"= 2 : Wrong Password","func":"msg.payload = \"Invalid Password\";\nreturn msg;","outputs":1,"noerr":0,"x":760,"y":460,"wires":[["1c609a3.7c6f966"]]},{"id":"cb2dab81.4bf948","type":"ui_ui_control","z":"5a4dff16.87f1f","name":"Go to Device Manager","x":988.0000686645508,"y":261.9999942779541,"wires":[[]]},{"id":"1c609a3.7c6f966","type":"ui_toast","z":"5a4dff16.87f1f","position":"dialog","displayTime":"3","highlight":"","outputs":1,"ok":"OK","cancel":"","topic":"Authentication Failed","name":"Authentication Failure Dialog","x":1020,"y":420,"wires":[[]]},{"id":"85aae677.a4bc18","type":"change","z":"5a4dff16.87f1f","name":"Account config","rules":[{"t":"set","p":"accounts","pt":"flow","to":"[{\"username\":\"admin\",\"password\":\"admin\"},{\"username\":\"admin2\",\"password\":\"admin2\"}]","tot":"json"}],"action":"","property":"","from":"","to":"","reg":false,"x":280,"y":180,"wires":[["3cdfcecc.b720f2"]],"info":"Modifique aqui os usuários do sistema, verifique\nque essa é uma solução plain-text, o melhor seria\nse o sistema guardasse o usuário e senha em um banco\nde dados e recebesse, ao menos a senha, criptografada."},{"id":"dbd67ae3.618c08","type":"ui_ui_control","z":"5a4dff16.87f1f","name":"","x":940,"y":680,"wires":[[]]},{"id":"e9522713.1b5288","type":"function","z":"5a4dff16.87f1f","name":"Back to login","func":"\n/*\nretorna para a tela de login quando a aba\nlog-out é clicada\n*/\n\n/*\n  usado para ignorar a primeira execução,\n  pois toda vez que faço logout e já houve\n  alguma seleção de dispositivo\n*/\nglobal.set(\"logout\", true);\n\nmsg.payload = {tab:\"Login Screen\",\n               tabs:{ hide:[\"Logout\"] }\n              }\n\nreturn msg;\n","outputs":1,"noerr":0,"x":770,"y":640,"wires":[["dbd67ae3.618c08","461e4f82.b4aa6"]]},{"id":"3a395112.78d18e","type":"switch","z":"5a4dff16.87f1f","name":"Logout?","property":"payload","propertyType":"msg","rules":[{"t":"eq","v":"1","vt":"str"},{"t":"eq","v":"0","vt":"str"}],"checkall":"true","repair":false,"outputs":2,"x":600,"y":680,"wires":[["e9522713.1b5288"],[]]},{"id":"f38a8d24.0f034","type":"function","z":"5a4dff16.87f1f","name":"Logout Pressed","func":"\n/*\ntesta se logout foi clicado\n*/\n\n\nif(msg.payload == \"change\" && msg.name == \"Logout\")\n    msg.payload = 1;\nelse\n    msg.payload=0;\n\n\nreturn msg;\n\n","outputs":1,"noerr":0,"x":440,"y":720,"wires":[["3a395112.78d18e"]]},{"id":"75d73a53.753844","type":"ui_ui_control","z":"5a4dff16.87f1f","name":"ui control","x":240,"y":720,"wires":[["f38a8d24.0f034"]]},{"id":"ce803029.30737","type":"comment","z":"5a4dff16.87f1f","name":"Logout Catch","info":"","x":250,"y":680,"wires":[]},{"id":"f9f2bc6b.14793","type":"link out","z":"5a4dff16.87f1f","name":"","links":["7792b39.78afa4c"],"x":915,"y":340,"wires":[]},{"id":"98e64ccd.3ce9a","type":"inject","z":"5a4dff16.87f1f","name":"setup","topic":"","payload":"setup","payloadType":"str","repeat":"","crontab":"","once":true,"onceDelay":"0.5","x":210,"y":480,"wires":[["461e4f82.b4aa6"]]},{"id":"461e4f82.b4aa6","type":"function","z":"5a4dff16.87f1f","name":"UI Setup","func":"/*muda a tela para a tela \"Login\"*/\nglobal.set(\"screen\", \"Login\");\n\nreturn msg;","outputs":1,"noerr":0,"x":220,"y":580,"wires":[[]]},{"id":"220b9750.13b218","type":"ui_group","z":"","name":"Sign-in","tab":"aa2dde9a.822c4","order":1,"disp":true,"width":"6","collapse":false},{"id":"aa2dde9a.822c4","type":"ui_tab","z":"","name":"Login Screen","icon":"dashboard","order":1,"disabled":false,"hidden":true}]
